#about {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  justify-content: center;
  height: 100vh;
  background-color: #fafafa;
  width: 85%;
  margin-left: 15%;
  box-sizing: border-box;
  color: #212529;
  font-family: 'Oswald', sans-serif;
}
#about .title {
  font-weight: 500;
  font-size: 52px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
#about .desc {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
#about .desc h2 {
  margin-right: 14px;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
}
#about .desc h2 span {
  font-weight: 500;
}
#about .desc i {
  font-size: 9px;
}
#about .desc .email {
  margin-left: 14px;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
}
#about .text {
  font-weight: 300;
  width: 65%;
  line-height: 1.5em;
  margin-bottom: 300px;
}
/* Large Screen */
@media (min-width: 1750px) {
  .container {
    background-color: #fafafa;
  }
}

/* Mobile */
@media(max-width: 1024px) {
  #about {
    margin-left: 0;
    width: 100vw;
    padding-left: 12px;
    overflow: hidden;

  }
  #about .title {
    font-size: 46px;
  }
  #about .desc {
    margin-bottom: 74px;
  }
  #about .desc h2 {
    font-size: 20px;
  }
  #about .desc i {
    font-size: 5px;
  }
  #about .desc .email {
    font-size: 20px;
  }
  #about .text {
    width: 90%;
    font-size: 18px;
  }
}