#mobile-header {
  display: none;
}
@media(max-width: 1024px) {
  .sidebar {
    display: none;
  }
  #mobile-header {
    display: block;
    font-family: 'Oswald', sans-serif;
    color: #fafafa;
    background-color: #212529;
    width: 100vw;
    overflow: hidden;

  }
  #mobile-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: #212529;
    width: 100vw;
  }
  #mobile-header .container .header-name {
    font-weight: 500;
    font-size: 28px;
    margin-left: 35px;
  }
  #mobile-header .container i {
    margin-right: 35px;
    font-size: 28px;
  }
  #mobile-header .menu-items-active {
    display: flex;
  }
  #mobile-header .menu-items-disable {
    display: none;
  }
  #mobile-header .menu-items {
    position: absolute;
    flex-direction: column;
    width: 100vw;
    background-color: #212529;
    padding-top: 28px;
  }
  #mobile-header .menu-items a {
    color: #fafafa;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 35px;
    padding-bottom: 28px;
  }
  #mobile-header .menu-items > :last-child {
    padding-bottom: 38px;
  }
}