#services {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  justify-content: center;
  background-color: #fafafa;
  width: 85%;
  margin-left: 15%;
  box-sizing: border-box;
  color: #212529;
  font-family: 'Oswald', sans-serif;
  padding-top: 100px;
}
.title {
  font-weight: 500;
  font-size: 52px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

#services .services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
  padding-left: 24px;
}
#services .services .service {
  width: 30%;
  border-right: 1px solid #212529;
  height: 250px;
}
#services .services > :last-child {
  border-right: none;
}
#services .services .service .service-title {
  font-size: 42px;
  margin-bottom: 30px;
}
#services .services .service .service-desc {
  width: 80%;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 20px;
}

#skills {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  justify-content: center;
  background-color: #fafafa;
  width: 85%;
  margin-left: 15%;
  box-sizing: border-box;
  color: #212529;
  font-family: 'Oswald', sans-serif;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  margin-bottom: 5em;
}
.skills .skill-icons {
  max-width: 35%;
}
.skills .skill-icons th, td {
  padding: 15px;
}
.skills .skill-icons > :first-child > td > td {
  padding-left: 0;
}
.skills .skill-text {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-right: 10%;
}
.skills .skill-text .text {
  width: 45%;
  line-height: 1.5em;
  font-weight: 300;
  font-size: 20px;
}
@media (max-width: 1300px) {
.skills .skill-text {
  width: 50%;
}
}
