.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 220px;
  max-width: 220px;
  align-items: center;
  justify-content: center;

  background-color: #212529;
  color: #ffffff;
}
.sidebar img {
  margin-bottom: 38px;
}
.sidebar .links .link {
  margin-bottom: 26px;
  text-align: center;
}
.sidebar .links .link a {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.sidebar .links .link a:hover {
  font-weight: 700;
}
.sidebar .logos {
  margin-top: 170px;
}
.sidebar .logos a {
  color: #fff;
  text-decoration: none;
}
.sidebar .logos a + a {
  margin-left: 15px;
}
.sidebar .logos a i {
  font-size: 35px;
}
.sidebar .logos a i:hover {
  font-weight: 600;
}