@font-face {
  font-family: Poppins;
  font-weight: 300;
  src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url(./fonts/Poppins-Medium.ttf);
}
